extends ../base.pug

block content
    div.form-container
        div#preview-container
            video(width="300", height="200")#preview
            button#startBtn Start Recording
        form(method="POST" enctype="multipart/form-data")
            label(for="video") 비디오 파일
            input(id="video" name="video" type="file" accept="video/*" required) 
            label(for="thumb") 썸네일
            input(id="thumb" name="thumb" type="file" accept="image/*" required)
            label 제목 (최대 50자)
            input(name="title" placeholder="Title" required maxlength="50")
            label 설명 (최대 300자)
            input(name="description" placeholder="Description" required maxlength="300")
            label 태그 (쉼표(,)로 구분해주세요)
            input(name='tags', placeholder="Tags, Seperated by comma.")
            div
            input(type="submit", value="Upload Video")

block scripts
    script(src="/assets/js/recorder.js") 