extends ../base.pug

block content
    div
        p #{video.description}
        small #{video.createdAt}
    ul 
        li
            a(href=`${video.id}/edit`) Edit Video &rarr;
        li
            a(href=`${video.id}/delete`) Delete Video  &rarr;