extends ../base.pug

block content
    div#video-container(data-id=`${video._id}`)
        video(src=`${video.url}`)
        div.controls-container
            div.controls__play
                span#play.controls__playBtn
                    i.fas.fa-play
                div.controls__time
                    span#current-time 00:00
                    span  / 
                    span#total-time 00:00
            input(type="range" min="0" step="1" value="0")#timeline
            div.controls__volume
                input(type="range" min="0" max="1" step="0.02" value="0.5")#volume
                span#mute
                    i.fas.fa-volume-high
            div.controls__function
                span#loop
                    i.fas.fa-arrows-rotate
                span#fullscreen
                    i.fas.fa-expand
    div.video__comment
        if loggedIn
            form.video__comment-form
                textarea(cols="30", rows="10", placeholder="댓글을 작성해주세요").video__comment-textarea
                button(type="submit").video__comment-btn Add Comment
        else
            form.video__comment-form
                textarea(cols="30", rows="10", placeholder="로그인 후 이용해주세요.", disabled).video__comment-textarea
                button(type="submit", disabled).video__comment-btn Add Comment

block scripts
    script(src="/assets/js/videoPlayer.js")
    script(src="/assets/js/commentSection.js")