extends ../base.pug

block content
    div#video-container
        video(src=`${video.url}` data-id=`${video._id}`)
        div.controls-container
            div.controls__play
                span#play.controls__playBtn
                    i.fas.fa-play
                div.controls__time
                    span#current-time 00:00
                    span  / 
                    span#total-time 00:00
            input(type="range" min="0" step="1" value="0")#timeline
            div.controls__volume
                input(type="range" min="0" max="1" step="0.02" value="0.5")#volume
                span#mute
                    i.fas.fa-volume-high
            div.controls__function
                span#loop
                    i.fas.fa-arrows-rotate
                span#fullscreen
                    i.fas.fa-expand

block scripts
    script(src="/assets/js/videoPlayer.js")