// main
$bg: #0f0f0f;
$bg-light: #212121;
$bg-light--hover: #53565a;
$message: #444a4f;

// colors
$blue: #43a4f5;
$error: #ff676b;
$gray: #aaaaaa;
$gray-dark: #282828;
$link: #3ea6ff;
$orange: #ff9900;
$orange--hover: #7f4c00;
$orange--hover-light: #ffd9a1;
$red: #ff0000;
$success: #4ac762;

// position
$header-height: 56px;
$nav-width: 250px;
$nav-width--calc: calc(100% - $nav-width);
