// main
$bg: #0f0f0f;
$bg-light: #212121;
$bg-light--hover: #53565a;
$message: #444a4f;

// colors
$error: #ff676b;
$gray: #aaaaaa;
$link: #3ea6ff;
$orange: #ff9900;
$orange--hover: #7f4c00;
$red: #ff0000;
$success: #4ac762;

// position
$header-height: 56px;
$nav-width: 200px;
