@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: $header-height;
  background-color: $orange;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 0 20px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
  &:hover {
    background-color: $orange--hover;
  }
}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  color: $red;
  font-size: 2em;
}

.header__center {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 44px;
  padding: 0 100px;
  input {
    width: 800px;
    height: 44px;
    padding: 5px 20px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: $bg-light;
    color: #fff;
    &:focus {
      background-color: $bg;
      outline: none;
    }
  }
  button {
    width: 100px;
    height: 44px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $bg-light;
    color: #fff;
    font-size: 1.1em;
    &:hover {
      background-color: $bg-light--hover;
    }
  }
}

.header__right {
  position: relative;
  button {
    padding: 0;
  }
  img {
    width: 44px;
    border-radius: 50%;
  }
}

.header__profile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 48px;
  right: 20px;
  z-index: 5;
  background-color: $bg-light;
  color: #fff;
  font-size: 1em;
  animation: slidedown 1s ease;
  .header__non-link {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    .header__username {
      color: $orange;
      font-weight: 600;
    }
  }
  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 56px;
    padding: 0 20px;
    &:hover {
      background-color: $bg-light--hover;
    }
    i {
      margin-right: 40px;
      font-size: 1.2em;
    }
  }
}
