include mixins/message

doctype html
html(lang='ko')
    head
        title #{pageTitle} | Neotube
        link(rel="stylesheet" href="/assets/css/styles.css")
        meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
    body
        include partials/pop-up
        include partials/nav
        include partials/header
        main
            include partials/toolbar
            if messages.error
                +message("error", messages.error)
            if messages.info
                +message("info", messages.info)
            if errorMessage
                span=errorMessage
            block content
        include partials/footer
    script(src="/assets/js/main.js")
    script(src="/assets/js/timeFormat.js")
    script(src="/assets/js/toolbar.js")
    script(src="https://kit.fontawesome.com/6682c71b2e.js" crossorigin="anonymous") 
    block scripts