nav
    div(class="nav__btn-container")
        a(href="/")
            div(class="nav__link-container")
                i(class="fa-solid fa-house")
            div 홈
        a(href="/")
            div(class="nav__link-container")
                i(class="fa-solid fa-star")
            div 즐겨찾기
        a(href="/setting")
            div(class="nav__link-container")
                i(class="fa-solid fa-gear")
            div 설정
    div(class="nav__flexbox-center")
        hr
    div(class="nav__group-container")
        if loggedIn
            form(method="POST", action="/api/groups/create").nav__group-form
                input(name="groupName" type="text" placeholder="그룹 이름" maxlength="10")
                button(type="submit").nav__group-button +
            if loggedInUser.groups
                each group in loggedInUser.groups
                    a(href=`/groups/${group._id}`)
                        div(class="nav__link-container")
                            i(class="fa-solid fa-folder")
                        div(class=`id-${group._id}`) #{group.groupName}
            else
                div 그룹이 없습니다.
        else
            div 로그인하시면, 영상을 그룹핑하여 정리할 수 있습니다.
            a(href="/login" class="nav__login-btn") Login &rarr;