div(class="toolbar")
    div.toolbar__links
        a(href="/videos/upload") 비디오 업로드
        a(href="/videos/upload-youtube") 유튜브에서 업로드
    div.toolbar__buttons
        button
            i.fas.fa-gear