extends ../base

block content
    form(method="POST")
        if loggedInUser.socialId == false
            label(for="current-password") 기존 비밀번호
            input(id="current-password" name="current-password" type="password")
        label(for="new-password") 새 비밀번호
        input(id="new-password" name="new-password" type="password")
        label(for="new-password2") 새 비밀번호 확인
        input(id="new-password2" name="new-password2" type="password" )
        input(type="submit" value="비밀번호 변경")