extends ../base

block content
    div.form-container
        form(method="POST")
            label(for="current-password") 기존 비밀번호
            input(id="current-password" name="currentPassword" type="password")
            label(for="new-password") 새 비밀번호
            input(id="new-password" name="newPassword" type="password")
            label(for="new-password2") 새 비밀번호 확인
            input(id="new-password2" name="newPassword2" type="password" )
            div
            input(type="submit" value="비밀번호 변경")