extends ../base

block content 
    img(src=`${loggedInUser.avatarUrl}` width="100" height="100")
    form(method="POST" enctype="multipart/form-data")
        label(for="avatar") Avatar
        input(id="avatar" name="avatar" type="file" accept="image/*")
        input(name="email" type="text" value=loggedInUser.email disabled)
        input(name="username" type="text" value=loggedInUser.username placeholder="Username")
        input(name="location" type="text" value=loggedInUser.location placeholder="Location")
        input(type="submit" value="Edit Confirm")
        if !loggedInUser.socialId
            hr
            a(href="change-password") Change Password &rarr;