extends ../base
include ../mixins/video

block content
    div.profile__data
        if user.avaterUrl == ""
            i(class="fa-solid fa-user")
        else
            img(src=`${user.avatarUrl}` width="100" height="100").avatar
        div
            small 이메일
            span=user.email
        div
            small 유저명
            span=user.username
        div
            small 지역
            span=user.location
    if loggedInUser._id == user._id
        div.profile__edit
            a(href="/users/edit") 프로필 수정하기 &rarr;
    div.video-gird
        each video in user.videos
            +video(video)
        else
            span.empty__message 업로드한 동영상이 없습니다.